.page-header {
    background-color: #FFFFFF;
    border-bottom : 2px solid #e3e3e3;
    padding: 20px 20px 10px;
    margin: 50px 10px 10px;
}

.container-fluid {
  width: 100%;
  padding-right: 30px;
  padding-left: 30px;
  margin-right: auto;
  margin-left: auto;
}
